*{
  margin: 0px;
  padding: 0px;
}

.header_top{
  position: fixed;
  top: 0px;
}

.content_text_skills > span, .content_text_skills > svg{
  display: block;
}

.content_text_skills{
  padding: 0px 5px;
}

.content_skills{
  display: flex;
  justify-content: center;
}

img{
  width: 500px;
  margin-top: 20px;
}

h1{
  margin-bottom: 10px;
}

.ecart-top{
  margin-top: 20px;
  margin-bottom: 20px;
}

.StyledBox-sc-13pk1d4-0{
  width: 100% !important;
}

.sous-menu_passions{
  flex: 1;
}

.btn_plus{
  border: 1px solid black;
  padding: 0px 5px;
}

.text_passion{
  height: 50px !important;
}

.div_passions{
  max-width: 100%;
  height: 150px !important;
}

.div_competences{
  max-width: 100%;
  height: 30px !important;
}

.content{
  border: 2px black solid;
  padding: 20px;
  border-radius: 20px;
  margin-top: 140px;
  max-width: 90%;
  margin-right: auto;
  margin-left: auto;
}

@media only screen and (max-width:800px) {
  .content{
    max-width: 100%;
  }
}

.title_header{
  margin-right: auto;
  margin-left: auto;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px)
  }
  100% {
    transform: translateY(0px)
  }
}
